.index-page {
  padding: 24 rpx 20 rpx;


}

.head {
  margin-bottom: 20 rpx;

  .lf {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .shul {
      width: 2 rpx;
      height: 24 rpx;
      background-color: #FFB55B;
      margin: 0 16 rpx;
    }

    .slogn {
      color: #FFB55B;
      font-size: 26 rpx;
    }
  }

  .head-icon {
    width: 40 rpx;
    height: 40 rpx;
    margin: 0 12 rpx;
  }
}

.tech {
  width: 208 rpx;
  height: 42 rpx;
}

.tabs {
  flex-wrap: wrap;

  .tab {
    margin-right: 48 rpx;
    color: #666666;
    font-size: 26 rpx;
    position: relative;
  }

  .act {
    color: #000000;
    font-size: 32 rpx;
    font-weight: bold;
  }

  .underline {
    width: 20 rpx;
    height: 6 rpx;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10 rpx;
  }
}

.swiper {
  border-radius: 30 rpx;
  overflow: hidden;
  margin: 20 rpx 0 20 rpx;

  .swiper-img {
    width: 100%;
    height: 324 rpx;
  }
}

// 宫格
.grid {
  .item {
    text-align: center;

    image {
      width: 80 rpx;
      height: 80 rpx;
    }

    .name {
      font-weight: bold;
    }
  }
}


// 资讯
.zixun {
  margin: 40 rpx 0 48 rpx;

  .zixun-item {
    width: 347 rpx;

    .title {
      font-size: 30 rpx;
      font-style: italic;
      font-weight: bold;
      background-color: #E8F0FF;
      // height: 40rpx;
      padding: 12 rpx 22 rpx;
      border-radius: 20 rpx 20 rpx 0 0;
    }

    .zx-img {
      width: 348 rpx;
      height: 126 rpx;
      border-radius: 0 0 20 rpx 20 rpx;
    }

    .zhin {
      background-color: #E8F0FF;
      margin-top: 16 rpx;
      text-overflow: ellipsis;
      color: #222222;
      font-size: 22 rpx;
      border-radius: 20 rpx;
      overflow: hidden;
      white-space: nowrap;
      padding: 20 rpx 16 rpx;
    }

    .day {
      height: 150 rpx;
      background: linear-gradient(134deg, #FDF8F8 0%, #F9EEED 100%);
      margin-bottom: 16 rpx;
      border-radius: 20 rpx;

      .day-img {
        width: 68 rpx;
        height: 77 rpx;
      }
    }

    .btm {
      .btm-item {
        // height: 120rpx;
        background-color: #FFEFE2;
        padding: 24 rpx 16 rpx;
        border-radius: 20 rpx;
        color: #FD8D2F;

        .btm-title {
          font-size: 26 rpx;
        }

        .sub {
          font-size: 18 rpx;
        }
      }

      .fx {
        background-color: #F1F6FF;
        color: #4285FD;
      }
    }
  }
}

// 直播
.live {
  .zbsm {
    width: 48 rpx;
    height: 48 rpx;
  }

  .shul {
    width: 2px;
    height: 24px;
    background: #CCCCCC;
    border-radius: 1px;
  }

  .bold {
    font-size: 30 rpx;
    color: #222222;
    font-weight: bold;
  }

  .norm {
    color: #999999;
    font-size: 26 rpx;
  }

  .more-text {
    color: #222222;
    font-size: 26 rpx;
  }

  .more {
    width: 32 rpx;
    height: 32 rpx;
  }

  .tabs {
    .tab {
      color: #222222;
      font-size: 26 rpx;
    }

    .act {
      color: #FFB55B;
    }
  }

  .banner {
    padding: 24 rpx 0;
    border-radius: 20 rpx;
    overflow: hidden;

    image {
      width: 100%;
      height: 220 rpx;
      border-radius: 20 rpx;
    }
  }
}

// 题库
.question {
  .zbsm {
    width: 48 rpx;
    height: 48 rpx;
  }

  .shul {
    width: 2px;
    height: 24px;
    background: #CCCCCC;
    border-radius: 1px;
  }

  .bold {
    font-size: 30 rpx;
    color: #222222;
    font-weight: bold;
  }

  .norm {
    color: #999999;
    font-size: 26 rpx;
  }

  .more-text {
    color: #222222;
    font-size: 26 rpx;
  }

  .more {
    width: 32 rpx;
    height: 32 rpx;
  }

  .slide {
    .item {
      width: 566 rpx;
      height: 192 rpx;
      background-color: #F8F8F8;
      border-radius: 20 rpx;
      padding: 32 rpx 18 rpx;
      position: relative;

      .title {
        font-size: 28 rpx;
        color: #222222;
        font-weight: bold;

        .flag {
          height: 32px;
          background: linear-gradient(180deg, #6D88F7 0%, #91A6FF 100%);
          border-radius: 4px;
          color: #fff;
          font-size: 22 rpx;
          padding: 0 16 rpx;
          margin-right: 20 rpx;
        }
      }

      .bottom {
        position: absolute;
        bottom: 18 rpx;
        left: 0;
        width: 560 rpx;
        padding: 0 16 rpx;

        .images {
          .avatar {
            width: 56 rpx;
            height: 56 rpx;
            border-radius: 56 rpx;
            margin-right: 8 rpx;
          }
        }

        .description {
          color: #666666;
          font-size: 24 rpx;
        }

        .rt {
          text-align: right;
          color: #999999;
          font-size: 20 rpx;

          .price {
            color: #FF705B;
            font-size: 34 rpx;
            font-weight: bold;
          }
        }
      }

    }
  }

}

.zhuanh {
  .zbsm {
    width: 48 rpx;
    height: 48 rpx;
  }

  .shul {
    width: 2px;
    height: 24px;
    background: #CCCCCC;
    border-radius: 1px;
  }

  .bold {
    font-size: 30 rpx;
    color: #222222;
    font-weight: bold;
  }

  .norm {
    color: #999999;
    font-size: 26 rpx;
  }

  .more-text {
    color: #222222;
    font-size: 26 rpx;
  }

  .more {
    width: 32 rpx;
    height: 32 rpx;
  }

  .z-item {
    width: 220 rpx;
    background-image: url(../../../assets/images/index/bg1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30 rpx 52 rpx;
    border-radius: 40 rpx;
    text-align: center;
    position: relative;

    .title {
      color: #222222;
      font-size: 28 rpx;
      font-weight: 600;
    }

    view {
      color: #666666;
      font-size: 22 rpx;
      margin: 22 rpx 0;
    }

    .ft {
      color: #222;
      font-size: 24 rpx;
      margin-top: 10 rpx;
    }

    .btn {
      width: 160 rpx;
      height: 56 rpx;
      text-align: center;
      line-height: 56 rpx;
      background-color: #FFB55B;
      color: #fff;
      position: absolute;
      bottom: -56 rpx;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
      border-radius: 56 rpx;
    }
  }
}

.kec {
  .bea {
    .item {
      padding: 24 rpx 0;

      .preview {
        width: 240 rpx;
        height: 160 rpx;
        border-radius: 20 rpx;
      }

      .info {
        width: 430 rpx;
        height: 160 rpx;
        position: relative;
        padding-left: 20 rpx;

        .title {
          font-weight: 600;
          color: #222222;
          font-size: 28 rpx;
        }

        .bottom {
          position: absolute;
          bottom: 0;
          width: 100%;

          .price {
            color: #FF705B;
            font-size: 34 rpx;
            font-weight: bold;
            margin-right: 20 rpx;
          }

          .desc {
            font-size: 24 rpx;
            color: #666666;
          }
        }
      }
    }
  }
}

.types {
  background-color: #fff;
  padding: 32 rpx;
  border-radius: 20 rpx 20 rpx 0 0;

  .title {
    font-size: 34 rpx;
    color: #000;
    font-weight: bold;
    padding-bottom: 32 rpx;
  }

  .content {
    .item {
      .item-title {
        font-size: 30 rpx;
        font-weight: bold;
        margin-bottom: 30 rpx;
      }

      .item-content {
        flex-wrap: wrap;

        .item-a {
          width: 88 rpx;
          height: 88 rpx;
          border-radius: 88 rpx;
        }

        .datum {
          width: 88 rpx;
          text-align: center;
          margin: 0 70 rpx 30 rpx 0;

          &:nth-child(4n+0) {
            margin-right: 0;
          }

          .name {
            color: #666666;
            font-size: 24 rpx;
          }
        }
      }
    }
  }

  .btn {
    margin-top: 10 rpx;
    width: 336 rpx;
    height: 96 rpx;
    border-radius: 96 rpx;
    background-color: #222222;
    color: #fff;
    line-height: 96 rpx;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
