@color-yellow:#FFB55B;

.page-wrapper{
	height: 100%;
	overflow: hidden;
}
// 头部
.top{
	padding-top: var(--status-bar-height);
	flex-shrink: 0;
	margin: 24rpx 20rpx;
	.image-eduction{
		width: 208rpx;
		height: 42rpx;
	}
	.color-yellow{
		color: @color-yellow;
	}
	.line{
		margin: auto 16rpx;
		width: 2rpx;
		height: 24rpx;
		background-color: @color-yellow;
		border-radius: 2rpx;
		opacity: 0.3;
	}
	.icon-image{
		width: 40rpx;
		height: 40rpx;
		& + .icon-image{
			margin-left: 24rpx;
		}
	}
	.custom-tabs{
		height: 72rpx;
		&-item{
			position: relative;
			line-height: 72rpx;
			display: inline-flex;
			font-size: 26rpx;
			color: #666666;
			&.on::after{
				content: '';
				position: absolute;
				margin-left: -10rpx;
				left: 50%;
				bottom: 0;
				left: 50%;
				width: 20rpx;
				height: 6rpx;
				border-radius: 10rpx;
				background-color: @color-yellow;
				position: absolute;
			}
		}
	}
}




.index-page {
  padding: 24rpx 20rpx;


}

.head {
  margin-bottom: 20rpx;

  .lf {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .shul {
      width: 2rpx;
      height: 24rpx;
      background-color: #FFB55B;
      margin: 0 16rpx;
    }

    .slogn {
      color: #FFB55B;
      font-size: 26rpx;
    }
  }

  .head-icon {
    width: 40rpx;
    height: 40rpx;
    margin: 0 12rpx;
  }
}

.tech {
  width: 208rpx;
  height: 42rpx;
}

.tabs {
  flex-wrap: wrap;

  .tab {
    margin-right: 48rpx;
    color: #666666;
    font-size: 26rpx;
    position: relative;
  }

  .act {
    color: #000000;
    font-size: 32rpx;
    font-weight: bold;
  }

  .underline {
    width: 20rpx;
    height: 6rpx;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10rpx;
  }
}

.swiper {
  border-radius: 30rpx;
  overflow: hidden;
  margin: 20rpx 0 20rpx;

  .swiper-img {
    width: 100%;
    height: 324rpx;
  }
}

// 宫格
.grid {
  .item {
    text-align: center;

    image {
      width: 80rpx;
      height: 80rpx;
    }

    .name {
      font-weight: bold;
    }
  }
}


// 资讯
.zixun {
  margin: 40rpx 0 48rpx;

  .zixun-item {
    width: 347rpx;

    .title {
      font-size: 30rpx;
      font-style: italic;
      font-weight: bold;
      background-color: #E8F0FF;
      // height: 40rpx;
      padding: 12rpx 22rpx;
      border-radius: 20rpx 20rpx 0 0;
    }

    .zx-img {
      width: 348rpx;
      height: 126rpx;
      border-radius: 0 0 20rpx 20rpx;
    }

    .zhin {
      background-color: #E8F0FF;
      margin-top: 16rpx;
      text-overflow: ellipsis;
      color: #222222;
      font-size: 22rpx;
      border-radius: 20rpx;
      overflow: hidden;
      white-space: nowrap;
      padding: 20rpx 16rpx;
    }

    .day {
      height: 150rpx;
      background: linear-gradient(134deg, #FDF8F8 0%, #F9EEED 100%);
      margin-bottom: 16rpx;
      border-radius: 20rpx;

      .day-img {
        width: 68rpx;
        height: 77rpx;
      }
    }

    .btm {
      .btm-item {
        // height: 120rpx;
        background-color: #FFEFE2;
        padding: 24rpx 16rpx;
        border-radius: 20rpx;
        color: #FD8D2F;

        .btm-title {
          font-size: 26rpx;
        }

        .sub {
          font-size: 18rpx;
        }
      }

      .fx {
        background-color: #F1F6FF;
        color: #4285FD;
      }
    }
  }
}

// 直播
.live {
  .zbsm {
    width: 48rpx;
    height: 48rpx;
  }

  .shul {
    width: 2px;
    height: 24px;
    background: #CCCCCC;
    border-radius: 1px;
  }

  .bold {
    font-size: 30rpx;
    color: #222222;
    font-weight: bold;
  }

  .norm {
    color: #999999;
    font-size: 26rpx;
  }

  .more-text {
    color: #222222;
    font-size: 26rpx;
  }

  .more {
    width: 32rpx;
    height: 32rpx;
  }

  .tabs {
    .tab {
      color: #222222;
      font-size: 26rpx;
    }

    .act {
      color: #FFB55B;
    }
  }

  .banner {
    padding: 24rpx 0;
    border-radius: 20rpx;
    overflow: hidden;

    image {
      width: 100%;
      height: 220rpx;
      border-radius: 20rpx;
    }
  }
}

// 题库
.question {
  .zbsm {
    width: 48rpx;
    height: 48rpx;
  }

  .shul {
    width: 2px;
    height: 24px;
    background: #CCCCCC;
    border-radius: 1px;
  }

  .bold {
    font-size: 30rpx;
    color: #222222;
    font-weight: bold;
  }

  .norm {
    color: #999999;
    font-size: 26rpx;
  }

  .more-text {
    color: #222222;
    font-size: 26rpx;
  }

  .more {
    width: 32rpx;
    height: 32rpx;
  }

  .slide {
    .item {
      width: 566rpx;
      height: 192rpx;
      background-color: #F8F8F8;
      border-radius: 20rpx;
      padding: 32rpx 18rpx;
      position: relative;

      .title {
        font-size: 28rpx;
        color: #222222;
        font-weight: bold;

        .flag {
          height: 32px;
          background: linear-gradient(180deg, #6D88F7 0%, #91A6FF 100%);
          border-radius: 4px;
          color: #fff;
          font-size: 22rpx;
          padding: 0 16rpx;
          margin-right: 20rpx;
        }
      }

      .bottom {
        position: absolute;
        bottom: 18rpx;
        left: 0;
        width: 560rpx;
        padding: 0 16rpx;

        .images {
          .avatar {
            width: 56rpx;
            height: 56rpx;
            border-radius: 56rpx;
            margin-right: 8rpx;
          }
        }

        .description {
          color: #666666;
          font-size: 24rpx;
        }

        .rt {
          text-align: right;
          color: #999999;
          font-size: 20rpx;

          .price {
            color: #FF705B;
            font-size: 34rpx;
            font-weight: bold;
          }
        }
      }

    }
  }

}

.zhuanh {
  .zbsm {
    width: 48rpx;
    height: 48rpx;
  }

  .shul {
    width: 2px;
    height: 24px;
    background: #CCCCCC;
    border-radius: 1px;
  }

  .bold {
    font-size: 30rpx;
    color: #222222;
    font-weight: bold;
  }

  .norm {
    color: #999999;
    font-size: 26rpx;
  }

  .more-text {
    color: #222222;
    font-size: 26rpx;
  }

  .more {
    width: 32rpx;
    height: 32rpx;
  }

  .z-item {
    width: 220rpx;
    background-image: url(../../../static/images/index/bg1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30rpx 52rpx;
    border-radius: 40rpx;
    text-align: center;
    position: relative;

    .title {
      color: #222222;
      font-size: 28rpx;
      font-weight: 600;
    }

    view {
      color: #666666;
      font-size: 22rpx;
      margin: 22rpx 0;
    }

    .ft {
      color: #222;
      font-size: 24rpx;
      margin-top: 10rpx;
    }

    .btn {
      width: 160rpx;
      height: 56rpx;
      text-align: center;
      line-height: 56rpx;
      background-color: #FFB55B;
      color: #fff;
      position: absolute;
      bottom: -56rpx;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
      border-radius: 56rpx;
    }
  }
}

.kec {
  .bea {
    .item {
      padding: 24rpx 0;

      .preview {
        width: 240rpx;
        height: 160rpx;
        border-radius: 20rpx;
      }

      .info {
        width: 430rpx;
        height: 160rpx;
        position: relative;
        padding-left: 20rpx;

        .title {
          font-weight: 600;
          color: #222222;
          font-size: 28rpx;
        }

        .bottom {
          position: absolute;
          bottom: 0;
          width: 100%;

          .price {
            color: #FF705B;
            font-size: 34rpx;
            font-weight: bold;
            margin-right: 20rpx;
          }

          .desc {
            font-size: 24rpx;
            color: #666666;
          }
        }
      }
    }
  }
}

.types {
  background-color: #fff;
  padding: 32rpx;
  border-radius: 20rpx 20rpx 0 0;

  .title {
    font-size: 34rpx;
    color: #000;
    font-weight: bold;
    padding-bottom: 32rpx;
  }

  .content {
    .item {
      .item-title {
        font-size: 30rpx;
        font-weight: bold;
        margin-bottom: 30rpx;
      }

      .item-content {
        flex-wrap: wrap;

        .item-a {
          width: 88rpx;
          height: 88rpx;
          border-radius: 88rpx;
        }

        .datum {
          width: 88rpx;
          text-align: center;
          margin: 0 70rpx 30rpx 0;

          &:nth-child(4n+0) {
            margin-right: 0;
          }

          .name {
            color: #666666;
            font-size: 24rpx;
          }
        }
      }
    }
  }

  .btn {
    margin-top: 10rpx;
    width: 336rpx;
    height: 96rpx;
    border-radius: 96rpx;
    background-color: #222222;
    color: #fff;
    line-height: 96rpx;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
