.flex-center{
	display: flex;
	align-items: center;
}
.flex-center-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-center-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-1{
	flex: 1;
}
button{
	border: 0;
	border-radius: 0;
	&::after{
		content: none;
	}
}
