// 弹性布局
.flex {
	display: flex;
}
.flex-center {
	.flex;
	align-items: center;
}
.flex-center-between {
	.flex-center;
	justify-content: space-between;
}
.flex-center-center {
	.flex-center;
	justify-content: center;
}
.flex-column{
	.flex;
	flex-direction: column;
}
.flex-column-center {
	.flex-column;
	align-items: center;
}
.flex-column-between{
	.flex-column;
	justify-content: space-between;
}
.flex-center-wrap {
	.flex-center;
	flex-wrap: wrap;
}
.flex-1 {
	flex: 1;
}
.flex-baseline {
	.flex;
	align-items: baseline;
}
// 加粗
.text-bold {
	font-weight: bold;
}
// 去除button自带样式
button {
	border: 0;
	border-radius: 0;
	&::after {
		content: none;
	}
}
// 不显示滚动条
::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
	color: transparent;
}
//换行
.text-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
// 占位符
.slot-item {
	margin-top: 40rpx;
	height: 1rpx;
}
