.popup-main {
	margin: auto;
	width: 90vw;
	padding: 40rpx 32rpx;
	background-color: #ffffff;
	border-radius: 32rpx;
	box-sizing: border-box;
}
.popup-title {
	padding-bottom: 30rpx;
	.title {
		font-size: 34rpx;
		font-weight: bold;
	}
	.icon-close {
		width: 48rpx;
		height: 48rpx;
	}
}
.popup-content {
	.image {
		margin-right: 16rpx;
		width: 80rpx;
		height: 80rpx;
	}
	.row {
		padding: 16rpx 0;
	}
	.text {
		font-size: 28rpx;
	}
	.desc {
		margin-top: 20rpx;
		color: #999999;
	}
	.radio {
		width: 40rpx;
		height: 40rpx;
		background-color: #ffffff;
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../../static/images/icons/icon-no-gou.svg);
		&.on {
			background-image: url(../../static/images/icons/icon-black-gou.svg);
		}
	}
}
