.order-details {
	padding: 0 20rpx;
	background-color: #f8f8f8;
	overflow: hidden;
	box-sizing: border-box;
	.box {
		margin-top: 20rpx;
		padding: 20rpx;
		background: #ffffff;
		box-shadow: 0rpx 2rpx 8rpx rgba(72, 17, 17, 0.08);
		border-radius: 8rpx;
	}
	.title{
		font-size: 28rpx;
		font-weight: bold;
	}
	.price{
		font-size: 34rpx;
		&.color-yellow{
			color:#FFB55B;
		}
		&.color-grey{
			color: #D1D1D1;
		}
		.unit{
			margin-left: 16rpx;
			margin-right: 10rpx;
			font-size: 24rpx;
		}
	}
	.btn{
		margin-top: 20rpx;
		height: 72rpx;
		font-size: 28rpx;
		line-height: 72rpx;
		color: #FFFFFF;
		background: #FFB55B;
		box-shadow: 0rpx 2rpx 8rpx rgba(72, 17, 17, 0.08);
		border-radius: 8rpx;
	}
}
.store {
	font-size: 28rpx;
	.icon-store {
		margin-right: 8rpx;
		width: 48rpx;
		height: 48rpx;
	}
	.icon-dy {
		width: 36rpx;
		height: 36rpx;
	}
	.top{
		margin-bottom: 35rpx;
	}
	.avatar-image {
		margin-right: 24rpx;
		width: 160rpx;
		height: 160rpx;
		border-radius: 8rpx;
	}
	.name{
		font-weight: bold;
	}
	.tag-item {
		margin-bottom: 16rpx;
		margin-right: 16rpx;
		padding: 0 16rpx;
		display: inline-flex;
		align-items: center;
		height: 48rpx;
		font-size: 24rpx;
		text-align: center;
		border-radius: 8rpx;
		background-color: #f4f5f9;
	}
	.content{
		align-items: stretch;
		&-column{
			justify-content: space-between;
		}
		.number{
			margin-left: 24rpx;
			color: #D1D1D1;
		}
	}
}
.message{
	font-size: 24rpx;
	.row{
		margin-top: 20rpx;
	}
	.label{
		margin-right: 100rpx;
		color: #999999;
	}
	.text{
		text-align: right;
	}
}
.discount{
	font-size: 24rpx;
	.row{
		display: flex;
		align-items: flex-end;
		margin-top: 20rpx;
	}
	.label{
		margin-right: 100rpx;
		color: #999999;
	}
	.price{
		flex: 1;
		text-align: right;
	}
}