.refund {
	height: 100%;
	background-color: #f8f8f8;
	overflow: hidden;
	box-sizing: border-box;
	.btn {
		margin: 40rpx auto;
		width: 50%;
		height: 96rpx;
		font-size: 26rpx;
		line-height: 96rpx;
		border-radius: 48rpx;
		color: #ffffff;
		background-color: #222222;
	}
}
// 店铺
.store {
	margin: 20rpx;
	padding: 32rpx 24rpx;
	background-color: #ffffff;
	border-radius: 20rpx;
	// 头部
	.top {
		padding-bottom: 10rpx;
		// border-bottom: 1rpx solid #dfe0e6;
		.name {
			font-size: 30rpx;
			font-weight: bold;
		}
		.desc {
			font-size: 24rpx;
			color: #666666;
		}
	}
	// 内容
	.content {
		padding-top: 32rpx;
		// margin-right: 24rpx;
		.avatar-image {
			margin-right: 24rpx;
			width: 240rpx;
			height: 160rpx;
			border-radius: 20rpx;
		}
		.title {
			margin-bottom: 18rpx;
			font-size: 28rpx;
			font-weight: bold;
		}
		.tag {
			margin-bottom: 4rpx;
			display: flex;
			align-items: center;
			.tag-item {
				margin-bottom: 16rpx;
				margin-right: 16rpx;
				padding: 0 16rpx;
				display: inline-flex;
				align-items: center;
				height: 48rpx;
				font-size: 24rpx;
				text-align: center;
				border-radius: 8rpx;
				background-color: #f4f5f9;
			}
		}

		.price {
			font-size: 34rpx;
			font-weight: bold;
			color: #ff705b;
			.unit {
				font-size: 24rpx;
			}
		}
		.number {
			font-size: 24rpx;
		}
	}
}
// 打折部分
.discount {
	padding: 24rpx;
	margin: 20rpx 20rpx 0;
	background-color: #ffffff;
	border-radius: 20rpx;
	.discount-title {
		padding: 24rpx 0;
		font-size: 30rpx;
	}
	&-row {
		padding: 24rpx 0;
		font-size: 28rpx;
		.color-9 {
			color: #999999;
		}
		.label {
			font-weight: bold;
		}
		.flex-1 {
			margin-left: 20rpx;
			text-align: right;
		}
		.icon-arrow {
			margin-left: 8rpx;
			width: 32rpx;
			height: 32rpx;
		}
	}
	.textarea {
		padding-top: 50rpx;
		height: 120rpx;
		font-size: 26rpx;
	}
	.input-placeholder {
		color: #cccccc;
	}
	.remark {
		margin-top: 24rpx;
		color: #999999;
	}
}
// 图片
.image-lists {
	margin-top: 30rpx;
	.image-item {
		width: 168rpx;
		height: 168rpx;
		background-color: #f8f8f8;
	}
	.icon-carme {
		width: 32rpx;
		height: 32rpx;
	}
}
.box{
	margin: 20rpx;
	padding: 24rpx;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	.image-state{
		margin-right: 12rpx;
		width: 48rpx;
		height: 48rpx;
	}
	.state{
		font-size: 30rpx;
	}
	.desc{
		margin-top: 24rpx;
		font-size: 24rpx;
		color: #666666;
	}
}