.refund {
	height: 100%;
	background-color: #F8F8F8;
	overflow: hidden;
	box-sizing: border-box;
	.store{
		margin: 20rpx;
	}
	.btn{
		margin-top: 40rpx;
		width: 50%;
		height: 96rpx;
		font-size: 26rpx;
		line-height: 96rpx;
		border-radius: 48rpx;
		color: #FFFFFF;
		background-color: #222222;
	}
}
.discount {
	padding: 24rpx;
	margin: 20rpx 20rpx 0;
	background-color: #ffffff;
	border-radius: 20rpx;
	&-row {
		padding: 30rpx 0;
		font-size: 28rpx;
		.color-9{
			color: #999999;
		}
		.label {
			font-weight: bold;
		}
		.flex-1 {
			text-align: right;
		}
		.icon-arrow {
			margin-left: 8rpx;
			width: 32rpx;
			height: 32rpx;
		}
	}
	.textarea{
		padding-top: 50rpx;
		height: 120rpx;
		font-size: 26rpx;
	}
	.input-placeholder{
		color: #CCCCCC;
	}
}
.image-lists{
	display: flex;
	.image-item{
		margin-right: 20rpx;
		width: 168rpx;
		height: 112rpx;
		border: 8rpx;
		background-color: #F8F8F8;
	}
	.upload-image{
		width: 100%;
		height: 100%;
	}
	.icon-carme{
		width: 32rpx;
		height: 32rpx;
	}
}