.store {
	height: 100%;
	overflow: hidden;
}
// 内容
.store-content {
	flex: 1;
	height: 100%;
	overflow: hidden;
	.top{
		padding: 20rpx;
		.icon-back{
			width: 48rpx;
			height: 48rpx;
		}
	}
	.custom-tabs{
		margin: 0;
	}
}
//店铺
.store-item{
	margin: 20rpx;
	font-size: 28rpx;
	align-items: stretch;
	.avatar-image{
		margin-right: 24rpx;
		width: 160rpx;
		height: 160rpx;
		border-radius: 20rpx;
	}
	.right{
		.save{
			margin-right: 46rpx;
			align-items: flex-end;
			.icon{
				align-items: center;
			}
		}
	}
	.item-top{
		.icon{
			margin-bottom: 8rpx;
			width: 48rpx;
			height: 48rpx;
		}
	}
	.rate{
		color: #FF9340;
	}
}
// 底部
.store-bottom {
	padding: 18rpx 0;
	flex-shrink: 0;
	.item {
		flex: 1;
		font-size: 18rpx;
		.image {
			margin-top: 6rpx;
			width: 48rpx;
			height: 48rpx;
		}
		.on {
			color: #ffb55b;
		}
	}
}
