.evaluate{
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #F8F8F8;
	overflow: hidden;
}
.evaluate-top{
	padding: calc(var(--status-bar-height) + 20rpx) 20rpx 20rpx;
	background-color: #FFFFFF;
	.icon-back{
		width: 48rpx;
		height: 48rpx;
	}
	.title{
		margin-right: -40rpx;
		font-size: 34rpx;
		text-align: center;
	}
	.btn{
		height: 56rpx;
		padding: 0 30rpx;
		font-size: 26rpx;
		line-height: 54rpx;
		color: #FFFFFF;
		background: #FFB55B;
		border-radius: 36rpx;
		border: 2rpx solid #FFEDD6;
		z-index: 1;
	}
}
.evaluate-content{
	flex: 1;
	height: 100%;
	overflow: hidden;
}

.store{
	margin: 20rpx;
	padding: 32rpx 24rpx;
	background-color: #ffffff;
	border-radius: 20rpx;
	// 头部
	.top {
		padding-bottom: 10rpx;
		// border-bottom: 1rpx solid #dfe0e6;
		.name {
			font-size: 30rpx;
			font-weight: bold;
		}
		.desc{
			font-size: 24rpx;
			color: #666666;
		}
	}
	// 内容
	.content {
		padding-top: 32rpx;
		// margin-right: 24rpx;
		.avatar-image {
			margin-right: 24rpx;
			width: 240rpx;
			height: 160rpx;
			border-radius: 20rpx;
		}
		.title {
			margin-bottom: 18rpx;
			font-size: 28rpx;
			font-weight: bold;
		}
		.tag {
			margin-bottom: 4rpx;
			display: flex;
			align-items: center;
			.tag-item {
				margin-bottom: 16rpx;
				margin-right: 16rpx;
				padding: 0 16rpx;
				display: inline-flex;
				align-items: center;
				height: 48rpx;
				font-size: 24rpx;
				text-align: center;
				border-radius: 8rpx;
				background-color: #f4f5f9;
			}
		}
	
		.price {
			font-size: 34rpx;
			font-weight: bold;
			color: #ff705b;
			.unit {
				font-size: 24rpx;
			}
		}
		.number {
			font-size: 24rpx;
		}
	}	
}


.box{
	margin: 20rpx 20rpx 0;
	padding: 24rpx;
	background-color: #FFFFFF;
	border-radius: 20rpx;
	.box-title{
		margin-right: 32rpx;
		font-size: 30rpx;
	}
	.input{
		width: 100%;
		padding: 24rpx 0;
		font-size: 26rpx;
		box-sizing: border-box;
	}
	.input-placeholder{
		color: #CCCCCC;
	}
		
	&:last-child {
		margin-bottom: 20rpx;
	}
}

.image-item{
	width: 168rpx;
	height: 168rpx;
	background-color: #F8F8F8;
}
.upload-image{
	width: 100%;
	height: 100%;
}
.icon-carme{
	width: 32rpx;
	height: 32rpx;
}		
