@color-yellow:#FFB55B;
@color-red:#FF705B;

.page-wrapper.main{
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	// 公用
	.color-yellow{
		color: @color-yellow;
	}
	.color-red{
		color: @color-red;
	}
	.color-9{
		color: #999999;
	}
	.color-6{
		color: #666666;
	}
	.font-24{
		font-size: 24rpx;
	}
	.font-34{
		font-size: 34rpx;
	}
	.font-20{
		font-size: 20rpx;
	}
}
// 头部
.main-top{
	flex-shrink: 0;
	padding: calc(var(--status-bar-height) + 24rpx)  20rpx 0;
	.image-eduction{
		width: 208rpx;
		height: 42rpx;
	}
	.line{
		margin: auto 16rpx;
		width: 2rpx;
		height: 24rpx;
		background-color: @color-yellow;
		border-radius: 2rpx;
		opacity: 0.3;
	}
	.icon-image{
		width: 40rpx;
		height: 40rpx;
		& + .icon-image{
			margin-left: 24rpx;
		}
	}
	.custom-tabs{
		margin: 20rpx -20rpx;
	}
}
// 菜单
.main-tabs{
	.custom-tabs{
		margin: atuo 0;
		flex: 1;
	}
	.icon-image{
		margin-right: 20rpx;
		flex-shrink: 0;
		width: 40rpx;
		height: 40rpx;
	}
}
//内容
.main-content{
	flex: 1;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	//标题
	.index-title{
		margin-bottom: 20rpx;
		.icon-image{
			margin-right: 8rpx;
			width: 48rpx;
			height: 48rpx;
		}
		.title{
			font-size: 30rpx;
			font-weight: bold;
		}
		.line{
			margin: 0 16rpx;
			width: 2rpx;
			height: 24rpx;
			background-color: #CCCCCC;
			border-radius: 1px;
		}
		.icon-arrow{
			margin-left: 8rpx;
			width: 32rpx;
			height: 32rpx;
		}
	}
	// banner switch
	.swiper{
		margin: auto 20rpx;
	}
	// 菜单
	.menus{
		margin-top: 20rpx;
		&-item{
			flex: 1;
			text-align: center;
			.icon-image{
				margin-bottom: 8rpx;
				width: 80rpx;
				height: 80rpx;
			}
			.text{
				font-size: 22rpx;
			}
		}
	}
	//咨询
	.consult{
		margin: 20rpx;
		&-item{
			flex: 1;
		}
	}
	//大咖直播
	.broadcast{
		margin: 40rpx 20rpx;
		&-item{
			margin-right: 22rpx;
			padding: 30rpx 20rpx;
			background-color: #F8F8F8;
			.color-white{
				color: #FFFFFF;
			}
			&-left{
				margin-right: 22rpx;
				flex: 1;
				overflow: hidden;
				.name{
					font-size: 28rpx;
					width: 100%;
					font-weight: bold;
					white-space: nowrap;
					text-overflow:ellipsis;
					overflow: hidden;
				}
				.desc{
					margin-top: 16rpx;
					font-size: 22rpx;
					color: #666;
					width: 100%;
					white-space: nowrap;
					text-overflow:ellipsis;
					overflow: hidden;
				}
			}
			&-live{
				padding: 0 12rpx;
				margin-top: 28rpx;
				line-height: 64rpx;
				font-size: 24rpx;
				color: @color-yellow;
				background-image: url(../../../static/images/index/index-broadcast.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
			}
			&-image{
				width: 240rpx;
				height: 160rpx;
				border-radius: 20rpx;
			}
		}
		.border-item{
			padding: 0 16rpx;
			font-size: 24rpx;
			line-height: 48rpx;
			border: 1px solid #DFE0E6;
			border-radius: 8px;
		}
		.classify-tabs{
			margin: 20rpx auto;
			&-item{
				margin-right: 48rpx;
				&.on{
					color: @color-yellow;
				}
			}
		}
	}
	
	// 考试题库
	.question-bank{
		.index-title{
			margin-top: 20rpx;
			margin-left: 20rpx;
			margin-right: 20rpx;
		}
		&-lists{
			width: auto;
			min-height: 258rpx;
			white-space: nowrap;
			.lists-item{
				&:last-child{
					margin-right: 20rpx;
				}
				width: 600rpx;
				padding: 30rpx 20rpx;
				margin-left: 20rpx;
				display: inline-block;
				background: #F8F8F8;
				border-radius: 20rpx;
				.sub-title{
					margin-right: 16rpx;
					padding: 0 14rpx;
					display: inline-block;
					font-size: 22rpx;
					color:#FFFFFF;
					background-image: linear-gradient(180deg, #6D88F7 0%, #91A6FF 100%);
					border-radius: 4rpx;
				}
				.name{
					font-size: 28rpx;
					font-weight: bold;
					white-space: pre-wrap;
					line-height: 1.8;
				}
				.person-image{
					margin-right: 8rpx;
					width: 56rpx;
					height: 56rpx;
					border-radius: 50%;
				}
				.number{
					margin-top: 4rpx;
					font-size: 34rpx;
					color: @color-red;
					text-align: right;
				}
				&-bottom{
					display: flex;
					margin-top: 40rpx;
					justify-content: space-between;
					align-items: flex-end;
				}
				.price{
					color: @color-red;
					font-weight:bold;
					text-align: right;
					&-unit{
						font-size: 24rpx;
					}
					&-number{
						margin-top: 4rpx;
						font-size: 34rpx;
					}
				}
			}
			
		}
	}
	// 高薪转行
	.change-career{
		margin: 20rpx;
	}
	//精品课程
	.course{
		margin: 20rpx;
	}
}