.order-confirm {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0 20rpx;
	background-color: #f8f8f8;
	overflow: hidden;
}
// 内容
.order-confirm-content {
	flex: 1;
	height: 100%;
	overflow: hidden;
	.address {
		margin: 20rpx 0;
		padding: 24rpx;
		background-color: #ffffff;
		border-radius: 20rpx;
		.icons {
			width: 40rpx;
			height: 40rpx;
		}
		.name {
			font-size: 28rpx;
			font-weight: bold;
		}
		.desc {
			margin-top: 20rpx;
			color: #999999;
		}
		.flex-column {
			margin: 0 24rpx;
		}
	}
	.box {
		margin: 20rpx 0 0;
		padding: 0 24rpx;
		background-color: #ffffff;
		border-radius: 20rpx;
		.store-order-lists-item{
			padding-right: 0;
			padding-left: 0;
		}
		.row {
			padding: 30rpx 0;
			font-size: 28rpx;
			.label {
				font-weight: bold;
			}
		}
		.flex-1 {
			text-align: right;
		}
		.column {
			padding: 30rpx 0;
			.remark {
				font-size: 24rpx;
				color: #999999;
			}
			.rule {
				height: 64rpx;
				line-height: 64rpx;
				font-size: 24rpx;
				color: #1aa8ff;
				background-color: #ffffff;
				margin-left: 0;
				padding: 0;
			}
		}
		.color-9{
			color: #999999;
		}
		.color-red{
			color:#FF705B ;
		}
		.icon-arrow {
			margin-left: 8rpx;
			width: 32rpx;
			height: 32rpx;
		}
		.icon-arrow {
			margin-left: 8rpx;
			width: 32rpx;
			height: 32rpx;
		}
	}
	.agree-row {
		padding-bottom: 40rpx;
		margin: 20rpx;
		.radio {
			margin-right: 16rpx;
			width: 32rpx;
			height: 32rpx;
			background-color: #ffffff;
			border-radius: 50%;
			border: 1rpx solid #cccccc;
			box-sizing: border-box;
			&.on {
				border: 10rpx solid #1aa8ff;
			}
		}
		.text {
			font-size: 26rpx;
			.service {
				color: #1aa8ff;
			}
		}
	}
}
// 底部
.order-confirm-bottom {
	padding: 20rpx 30rpx;
	font-size: 28rpx;
	background-color: #ffffff;
	.left {
		align-items: baseline;
	}
	.price {
		margin-left: 16rpx;
		font-size: 40rpx;
		color: #ef5252;
	}
	.btn {
		margin-right: 0;
		margin-left: 24rpx;
		min-width: 200rpx;
		height: 64rpx;
		line-height: 64rpx;
		font-size: 28rpx;
		text-align: center;
		color: #ffffff;
		background-color: #ff705b;
		border-radius: 44rpx;
	}
}
