// banner
.banner-image {
	width: 100%;
}
// tabs
.tabs-block {
	margin-top: 40rpx;
	margin: 40rpx 20rpx 0;
	font-size: 28rpx;
	font-weight: bold;
	height: 80rpx;
	line-height: 80rpx;
	text-align: center;
	background-color: rgba(#ffb55b, 0.1);
	border-radius: 10rpx;
	.item {
		flex: 1;
		&.first {
			color: #ffffff;
			background-image: url(../../../static/images/active/active_tab_bg.png);
			background-repeat: no-repeat;
			background-size: 100%;
			width: auto;
		}
		&.second {
			color: #ffffff;
			background-image: url(../../../static/images/active/active_tab_bg_2.png);
			background-repeat: no-repeat;
			background-size: 100%;
			width: auto;
		}
		&.three {
			color: #ffffff;
			background-image: url(../../../static/images/active/active_tab_bg_3.png);
			background-repeat: no-repeat;
			background-size: 100%;
			width: auto;
		}
	}
}

//坚持不懈
.insist-lists-item {
	display: flex;
	position: relative;
	margin: 20rpx;
	padding: 32rpx 24rpx;
	font-weight: bold;
	background-color: #ffeaea;
	border-radius: 20rpx;
	.flex-column {
		flex: 1;
		justify-content: space-between;
	}
	.name {
		font-size: 28rpx;
	}
	.price {
		margin-top: 40rpx;
		color: #ff6e6e;
	}
	.btn {
		align-self: center;
		margin: 0;
		padding: 0 28rpx;
		height: 56rpx;
		font-size: 26rpx;
		line-height: 56rpx;
		color: #ffffff;
		background-color: #222222;
		border-radius: 32rpx;
		&.disable {
			background-color: #cccccc;
		}
	}
}
// 分销大使
.sales-list {
	margin: 20rpx;
	.btn {
		margin: 0;
		padding: 0 28rpx;
		height: 56rpx;
		font-size: 26rpx;
		line-height: 56rpx;
		color: #ffffff;
		background-color: #222222;
		border-radius: 32rpx;
	}
	.no-lists {
		margin-top: 80rpx;
		font-size: 28rpx;
		.color-blue{
			color: #8868F3;
		}
	}
	&.platform {
		border-top: 12rpx solid #E0EAFF;
		background: linear-gradient(180deg, #F2F6FF 0%, #FFFFFF 100%);
		border-radius: 10rpx;
		.row {
			margin-top: 32rpx;
		}
		.item {
			padding: 0 16rpx;
			.text {
				font-size: 28rpx;
				font-weight: bold;
			}
		}
	}
	&.marchant {
		margin-top: 40rpx;
		border-top: 12rpx solid #FFE2E2;
		background: linear-gradient(180deg, #FFF4F4 0%, #FFFFFF 100%);
		border-radius: 10rpx;
		.marchant-item {
			margin-bottom: 20rpx;
			padding-top: 20rpx;
			& + .marchant-item {
				border-top: 1rpx solid #dfe0e6;
			}
			.avatar-image {
				margin-right: 16rpx;
				width: 72rpx;
				height: 72rpx;
				border-radius: 50%;
			}
			.discount {
				color: #ff6e6e;
			}
		}
	}
}
