.login-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

//头部
.top {
  flex-shrink: 0;

  .logo {
    margin: 60 rpx auto 70 rpx;
    width: 144 rpx;
    height: 144 rpx;
    font-family: 'zihun35hao-jindianyahei';
    font-size: 26 rpx;
    text-align: center;
    color: #ffffff;
    border-radius: 32 rpx;
    background: linear-gradient(135deg, #ffcc8f 0%, #ffb55b 100%);
  }

  .tabs-title {
    &-item {
      position: relative;
      flex: 1;
      font-size: 26 rpx;
      color: #666666;
      text-align: center;

      &.on {
        font-size: 32 rpx;
        color: #000000;

        &::after {
          content: '';
          position: absolute;
          margin-left: -10 rpx;
          left: 50%;
          bottom: -15 rpx;
          width: 20 rpx;
          height: 6 rpx;
          border-radius: 10 rpx;
          background-color: #ffb55b;
        }
      }
    }
  }
}

//内容
.form-wrapper {
  flex: 1;
  margin: 0 40 rpx 20 rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .input {
    padding: 32 rpx 0;
    font-size: 28 rpx;
    border-bottom: 2 rpx solid #dfe0e6;

    &-placeholder {
      color: #cccccc;
    }
  }

  .helper {
    margin-top: 24 rpx;
    font-size: 26 rpx;
    color: #999999;
  }

  .forget {
    text-align: right;
    color: #222222;
    font-size: 26 rpx;
  }

  .login-btn {
    height: 96 rpx;
    background: #222222;
    color: #ffffff;
    text-align: center;
    font-size: 30 rpx;
    line-height: 96 rpx;
    margin-top: 60 rpx;
  }

  .huo {
    margin: 30 rpx auto;
    font-size: 26 rpx;
    text-align: center;
    color: #999999;
  }

  .password-login {
    color: #222222;
    font-size: 30 rpx;
    text-align: center;
  }

  .input-with-icon {
    margin-top: 40 rpx;
    border-bottom: 2 rpx solid #dfe0e6;

    input {
      border-bottom: 0;
    }

    .icon {
      flex-shrink: 0;
      width: 48 rpx;
      height: 48 rpx;
    }
  }
}

// 底部
.bottom {
  flex-shrink: 0;
  margin: auto 40 rpx auto;

  .rules {
    text-align: center;
    margin: auto auto 60 rpx auto;
    color: #222222;
    font-size: 22 rpx;

    text {
      color: #1aa8ff;
    }
  }

  .through {
    position: relative;
    color: #999999;
    font-size: 26 rpx;
    margin-bottom: 40 rpx;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #eeeeee;
    }

    text {
      width: 40%;
      background-color: #ffffff;
      text-align: center;
      z-index: 1;
    }
  }

  .methods {
    margin: auto auto 20 rpx 20 rpx;

    &-image {
      width: 80 rpx;
      height: 80 rpx;

      & + .methods-image {
        margin-left: 56 rpx;
      }
    }
  }

  .advert-image {
    width: 100%;
    height: 180 rpx;
    border-radius: 16 rpx;
    overflow: hidden;
  }

}
