.login-page {
	overflow: hidden;
	height: 100vh;
	.logo {
		margin:60rpx auto 70rpx;
		width: 144rpx;
		height: 144rpx;
		font-family: "zihun35hao-jindianyahei";
		font-size: 26rpx;
		text-align: center;
		color: #FFFFFF;
		border-radius: 32rpx;
		background: linear-gradient(135deg, #ffcc8f 0%, #ffb55b 100%);
	}

	.tabs-title {
		&-item{
			position: relative;
			flex: 1;
			font-size: 26rpx;
			color: #666666;
			text-align: center;
			&.on{
				font-size: 32rpx;
				color: #000000;	
				&::after{
					content: '';
					position: absolute;
					margin-left: -10rpx;
					left: 50%;
					bottom: -15rpx;
					width: 20rpx;
					height: 6rpx;
					border-radius: 10rpx;
					background-color:  #FFB55B;
				}
			}
		}
	}

	.form-wrapper {
		margin: 160rpx 40rpx auto;
		.input{
			padding: 32rpx 0;
			font-size: 28rpx;
			border-bottom: 2rpx solid #DFE0E6;
			&-placeholder{
				color: #CCCCCC;
			}
		}
		
		.helper {
			margin-top: 24rpx;
			font-size: 26rpx;
			color: #999999;
		}

		.forget {
			text-align: right;
			color: #222222;
			font-size: 26rpx;
		}

		.login-btn {
			height: 96rpx;
			background: #222222;
			color: #ffffff;
			text-align: center;
			font-size: 30rpx;
			line-height: 96rpx;
			margin-top: 60rpx;
		}

		.huo {
			margin: 40rpx auto 30rpx;
			font-size: 26rpx;
			text-align: center;
			color: #999999;
			
		}

		.password-login {
			color: #222222;
			font-size: 30rpx;
			text-align: center;
		}

		.rules {
			text-align: center;
			margin: 98rpx 0 60rpx 0;
			color: #222222;
			font-size: 22rpx;
			text {
				color: #1aa8ff;
			}
		}

		.through {
			position: relative;
			color: #999999;
			font-size: 26rpx;
			margin-bottom: 40rpx;
			&::before{
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				height: 1px;
				background-color: #eeeeee;
			}
			text{
				width: 40%;
				background-color: #FFFFFF;
				text-align: center;
				z-index: 1;
			}
		}

		.methods {
			margin: auto auto 20rpx auto;
			&-image {
				width: 80rpx;
				height: 80rpx;
				& + .methods-image{
					margin-left: 56rpx;
				}
			}
		}
		.advert-image{
			margin-top: 20rpx;
			width: 100%;
			height: 180rpx;
			border-radius: 16rpx;
			overflow: hidden;
		}
		.input-with-icon {
			margin-top: 40rpx;
			border-bottom: 2rpx solid #DFE0E6;
			input{
				border-bottom: 0;
			}
			.icon {
				flex-shrink: 0;
				width: 48rpx;
				height: 48rpx;
			}
		}
	}
}
