view {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}
.im-message-page {
	height: 100%;
	background-color: #f8f8f8;

	.record-modal {
		margin: auto;
		height: 160rpx;
		width: 40vw;
		opacity: 0.8;
		position: fixed;
		top: 200px;
		left: 0;
		right: 0;
		z-index: 9999;

		display: flex;
		flex-direction: column;
		.wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			height: 160rpx;
			box-sizing: border-box;
			background-color: rgba($color: #000000, $alpha: 1);
			border-radius: 12rpx;
			.icon-voice {
				width: 60rpx;
			}
			.modal-loading {
				width: 42rpx;
				.line {
					margin-top: 10rpx;
					height: 4rpx;
					border-radius: 10rpx;
					background-color: #ffffff;
					overflow: hidden;
					opacity: 0;
					&.one {
						animation: showHide1 .5s cubic-bezier(0.4, 0, 0.45, 1.09) .52s infinite alternate;
					}
					&.two {
						animation: showHide2 .5s cubic-bezier(0.4, 0, 0.45, 1.09) .39s infinite alternate;
					}
					&.three {
						animation: showHide3 .5s cubic-bezier(0.4, 0, 0.45, 1.09) .26s infinite alternate;
					}
					&.four {
						animation: showHide4 .5s cubic-bezier(0.4, 0, 0.45, 1.09) .13s infinite alternate;
					}
				}
			}
		}

		.modal-title {
			text-align: center;
			color: white;
		}
	}

	.list-view {
		max-height: 90vh;
	}

	.bottom {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #ffffff;
		.input-bar {
			height: 108rpx;
			flex-direction: row;
			align-items: center;
			padding-left: 20rpx;
			padding-right: 20rpx;

			.text-input {
				flex: 1;
				height: 72rpx;
				border-radius: 36rpx;
				background-color: #f8f8f8;
				padding-left: 26rpx;
				padding-right: 26rpx;
				flex-direction: row;
				align-items: center;
				.input {
					flex: 1;
				}
			}
			.record {
				flex: 1;
				height: 72rpx;
				border-radius: 8rpx;
				background-color: #f8f8f8;
				align-items: center;
				justify-content: center;
				color: #212121;
				font-size: 28rpx;
				border-radius: 36rpx;
			}

			.img-btn {
				width: 56rpx;
				height: 56rpx;
				margin-left: 30rpx;
			}
		}
		.bottom-emoji {
			height: 550rpx;
			flex-wrap: wrap;
			flex-direction: row;
			background-color: #f8f8f8;
			padding: 25rpx;
			.emoji-view {
				width: 100rpx;
				height: 100rpx;
				justify-content: center;
				align-items: center;
				.emoji-text {
					font-size: 60rpx;
				}
			}
		}
	}
}
// 语音动效
// 语音 4
@keyframes showHide4 {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 12rpx;
		opacity: 1;
	}
}

@-moz-keyframes showHide4 /* Firefox */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 12rpx;
		opacity: 1;
	}
}

@-webkit-keyframes showHide4 /* Safari 和 Chrome */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 12rpx;
		opacity: 1;
	}
}

@-o-keyframes showHide4 /* Opera */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 12rpx;
		opacity: 1;
	}
}
// 语音 3
@keyframes showHide3 {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		
		width: 18rpx;
		opacity: 1;
	}
}

@-moz-keyframes showHide3 /* Firefox */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		
		width: 18rpx;
		opacity: 1;
	}
}

@-webkit-keyframes showHide3 /* Safari 和 Chrome */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		
		width: 18rpx;
		opacity: 1;
	}
}

@-o-keyframes showHide3 /* Opera */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		
		width: 18rpx;
		opacity: 1;
	}
}
// 语音 2
@keyframes showHide2 {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 24rpx;
		opacity: 1;
	}
}

@-moz-keyframes showHide2 /* Firefox */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 24rpx;
		opacity: 1;
	}
}

@-webkit-keyframes showHide2 /* Safari 和 Chrome */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 24rpx;
		opacity: 1;
	}
}

@-o-keyframes showHide2 /* Opera */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		
		width: 24rpx;
		opacity: 1;
	}
}
// 语音 1
@keyframes showHide1 {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 32rpx;
		opacity: 1;
	}
}

@-moz-keyframes showHide1 /* Firefox */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 32rpx;
		opacity: 1;
	}
}

@-webkit-keyframes showHide1 /* Safari 和 Chrome */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 32rpx;
		opacity: 1;
	}
}

@-o-keyframes showHide1 /* Opera */ {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 32rpx;
		opacity: 1;
	}
}